<div class="container">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h2 class="panel-title"><b>Chat Rooms</b></h2>
      </div>
      <div id="demo-chat-body" class="collapse in">
        <div class="nano has-scrollbar">
          <div #scrollContainer infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="500" (scrolledUp)="nextPage()" [scrollWindow]="false" class="nano-content pad-all" tabindex="0">
            <ul class="list-unstyled media-block">
              <li class="mar-btm" *ngFor="let chat_room of chat_rooms" style="background:#FFFF99; margin-bottom:5px; padding-left:10px; width:60%;border-left:2px red solid">
               
                <div class="media-body pad-hor" >
                  <div class="speech">
                    <a class="media-heading">{{chat_room.id}}</a>
                    <p><b><a (click)="enterChat(chat_room.id)">{{chat_room.title}}</a></b></p>
                    <p class="speech-time">
                      <i class="fa fa-clock-o fa-fw"></i>
                      {{chat_room.created_at | date: 'shortTime'}}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="nano-pane">
            <div class="nano-slider"></div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <form>
              <div class="col-xs-9">
                <input [(ngModel)]="chat_room.title" type="text" placeholder="Enter your text" class="form-control chat-input" name="body">
              </div>
              <div class="col-xs-3">
                <button (click)="createChatRoom()" [disabled]="currentSender && !chat_room.title" class="btn btn-primary btn-block" type="submit">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
